.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading h1 {
  font-size: 2rem;
  color: #333;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error h1 {
  font-size: 2rem;
  color: red;
}
